.idea/
.idea_modules/
out/
target/
*.iml
*.class
*.log
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.gradle/
gradle/
**/build/
gradle-app.setting
.gradletasknamecache
deploy-*.cmd
gradlew.bat
gradlew
**/.DS_Store
temp.txt
